{% extends 'base.html' %}

{% block title %}Змей Горыныч{% endblock %}

{% block content %}
    <div>
        <div>
            <img src="{{ url_for('static', path='img/cat.png') }}">
            <div>
                <div>
                    <p>
                        Котик
                    </p>
                    <p>
                        Самый любящий котик
                    </p>
                </div>
                <button>Купить</button>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', path='img/cat.png') }}">
            <div>
                <div>
                    <p>
                        Котик
                    </p>
                    <p>
                        Самый любящий котик
                    </p>
                </div>
                <button>Купить</button>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', path='img/cat.png') }}">
            <div>
                <div>
                    <p>
                        Котик
                    </p>
                    <p>
                        Самый любящий котик
                    </p>
                </div>
                <button>Купить</button>
            </div>
        </div>
    </div>
{% endblock %}
