{% extends 'base.html' %}

{% block title %}Змей Горыныч{% endblock %}

{% block content %}
    <div id="main" class="main flex-1 p-10 text-2xl font-bold bg-gray-100 grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 auto-rows-min gap-4">
        <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="{{ url_for('static', path='img/cat.png') }}">
            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-black font-semibold">
                        Котик
                    </p>
                    <p class="text-slate-500 text-sm">
                        Самый любящий котик
                    </p>
                </div>
                <button class="px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-200 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Купить</button>
            </div>
        </div>
        <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="{{ url_for('static', path='img/cat.png') }}">
            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-black font-semibold">
                        Котик
                    </p>
                    <p class="text-slate-500 text-sm">
                        Самый любящий котик
                    </p>
                </div>
                <button class="px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-200 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Купить</button>
            </div>
        </div>
        <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="{{ url_for('static', path='img/cat.png') }}">
            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-black font-semibold">
                        Котик
                    </p>
                    <p class="text-slate-500 text-sm">
                        Самый любящий котик
                    </p>
                </div>
                <button class="px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-200 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Купить</button>
            </div>
        </div>
        <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="{{ url_for('static', path='img/cat.png') }}">
            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-black font-semibold">
                        Котик
                    </p>
                    <p class="text-slate-500 text-sm">
                        Самый любящий котик
                    </p>
                </div>
                <button class="px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-200 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Купить</button>
            </div>
        </div>
        <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
            <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="{{ url_for('static', path='img/cat.png') }}">
            <div class="text-center space-y-2 sm:text-left">
                <div class="space-y-0.5">
                    <p class="text-lg text-black font-semibold">
                        Котик
                    </p>
                    <p class="text-slate-500 text-sm">
                        Самый любящий котик
                    </p>
                </div>
                <button class="px-4 py-1 text-sm text-pink-600 font-semibold rounded-full border border-pink-200 hover:text-white hover:bg-pink-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Купить</button>
            </div>
        </div>
    </div>
{% endblock %}
